<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Babylon Template</title>

    <style>
        html, body {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #renderCanvas {
            width: 100%;
            height: 100%;
            touch-action: none;
        }
    </style>


<!--    babylon.js：Babylon.js 的简化版本-->
<!--    babylon.max.js：Babylon.js 的调试版本-->
<!--    Oimo.js：Oimo JS 物理引擎，本教程的第二部分中将会用到-->
<!--    poly2tri.js：可选的三边转换库 (github.com/r3mi/poly2tri.js)-->
<!--    hand-minified.js：指针事件填充代码；在使用 npm 时缺失，因此使用下列命令进行安装：-->

    <!-- Link to the last version of BabylonJS -->
    <script src="js/babylon.js"></script>
    <!-- Link to the last version of BabylonJS loaders to enable loading filetypes such as .gltf -->
    <script src="js/babylonjs.loaders.min.js"></script>
    <!-- Link to pep.js to ensure pointer events work consistently in all browsers -->
    <script src="js/pep-0.4.3.js"></script>
    <script type="text/javascript">
        document.write('<script src="js/objects.js?v='+new Date().getTime()+'"><\/script>');
        document.write('<script src="js/meshCreate.js?v='+new Date().getTime()+'"><\/script>');
    </script>
<!--    <script src="js/objects.js"></script>-->
<!--    <script src="js/meshCreate.js"></script>-->

    <style>
        #renderCanvas { width: 640px; height: 480px; }
        .pull-left { float:left; }
        .pull-right { float: right; }
    </style>
</head>

<body>

<div>
    <canvas id="renderCanvas" class="pull-left" touch-action="none"></canvas>
    <div class="pull-left">
        <button onclick="unfolderFloors()">全部展开</button>
        <button onclick="viewFloor(1)">第一层</button>
        <button onclick="viewFloor(2)">第二层</button>
        <button onclick="viewFloor(3)">第三层</button>
        <button onclick="viewFloor(4)">第四层</button>
        <button onclick="viewFloor(5)">第五层</button>
        <button onclick="viewFloor(6)">第六层</button>
    </div>
</div>


<script>
    var floorNum = 6;
    var isOpen = false;
    var openSize = 20;
    var cameraMoveSize = 6;
    function getObjById(id) {
        for(var types in sceneObjs) {
            for(var obj in sceneObjs[types]) {
                if (obj == id) {
                    return sceneObjs[types][obj];
                }
            }
        }
        return null;
    }

    function playAnim(obj, prop, frame, from, to) {
        var animPos = new BABYLON.Animation("tutoAnimation", prop, frame, BABYLON.Animation.ANIMATIONTYPE_VECTOR3,
            BABYLON.Animation.ANIMATIONLOOPMODE_CYCLE);
        var keyPos = [
            {
                frame: 0,
                value: from
            },
            {
                frame: frame,
                value: to,
            }
        ];
        animPos.setKeys(keyPos);
        obj.animations.push(animPos);

        setTimeout(async () => {
            var anim = scene.beginAnimation(obj, 0, frame, false);
            await anim.waitAsync();
            obj.animations = [];
        });
    }

    function unfolderFloors() {
        if(!isOpen) {
            isOpen = true;
            for(var i = 1; i <= floorNum; i++) {
                var curFloor = getObjById("f"+i);
                var curFloorFrom = curFloor[0].position;
                var curFloorTo = new BABYLON.Vector3(curFloor[1]["pos"][0], curFloor[1]["pos"][1] + (i-1)*openSize, curFloor[1]["pos"][2]);
                playAnim(curFloor[0], "position", 30, curFloorFrom, curFloorTo);
            }
        } else {
            isOpen = false;
            for(var i = 1; i <= floorNum; i++) {
                var curFloor = getObjById("f"+i);
                var curFloorFrom = curFloor[0].position;
                var curFloorTo = new BABYLON.Vector3(curFloor[1]["pos"][0], curFloor[1]["pos"][1], curFloor[1]["pos"][2]);
                playAnim(curFloor[0], "position", 30, curFloorFrom, curFloorTo);
            }
            // 重置摄像机
            viewFloor(3);
        }
    }
    function viewFloor(n) {
        var camera = scene.activeCamera;
        var cPosFrom = camera.position;
        var cTarFrom = camera.target;
        var cPosTo = new BABYLON.Vector3(43, (13.5+(n-1)*6+(n-1)*(isOpen?openSize:0)), -10);
        var cTarTo = new BABYLON.Vector3(-13.5, (-3.5+(n-1)*6+(n-1)*(isOpen?openSize:0)), 26);

        playAnim(camera, "position", 30, cPosFrom, cPosTo);
        playAnim(camera, "target", 30, cTarFrom, cTarTo);

        // var animPos = new BABYLON.Animation("tutoAnimation", "position", 30, BABYLON.Animation.ANIMATIONTYPE_VECTOR3,
        //     BABYLON.Animation.ANIMATIONLOOPMODE_CYCLE);
        // var animTar = new BABYLON.Animation("tutoAnimation", "target", 30, BABYLON.Animation.ANIMATIONTYPE_VECTOR3,
        //     BABYLON.Animation.ANIMATIONLOOPMODE_CYCLE);
        // var keyPos = [
        //     {
        //         frame: 0,
        //         value: cPosFrom
        //     },
        //     {
        //         frame: 30,
        //         value: cPosTo,
        //     }
        // ];
        // var keyTar = [
        //     {
        //         frame: 0,
        //         value: cTarFrom
        //     },
        //     {
        //         frame: 30,
        //         value: cTarTo,
        //     }
        // ];
        //
        // animPos.setKeys(keyPos);
        // animTar.setKeys(keyTar);
        //
        // camera.animations = [];
        // camera.animations.push(animPos);
        // camera.animations.push(animTar);
        // scene.beginAnimation(camera, 0, 30, false);

        // var animGroup = new BABYLON.AnimationGroup("cameraMove");
        // animGroup.addTargetedAnimation(animPos, camera);
        // animGroup.addTargetedAnimation(animTar, camera);
        // animGroup.normalize(0, 30);

        // animGroup.play(false);
    }

    var canvas = document.getElementById("renderCanvas"); // Get the canvas element
    var engine = new BABYLON.Engine(canvas, true); // Generate the BABYLON 3D engine
    // 生成所有object
    var sceneObjs = {
        "materials": {},
        "lights": {},
        "objects": {},
    };

    var createScene = function() {
        // Create scene
        scene = new BABYLON.Scene(engine);

        hdrTexture = new BABYLON.CubeTexture("img/textures/environment.dds", scene);

        // animationBox = new BABYLON.Animation("tutoAnimation", "position", 30, BABYLON.Animation.ANIMATIONTYPE_FLOAT,
        //     BABYLON.Animation.ANIMATIONTYPE_VECTOR3);
        // // Animation keys
        //
        // animationBox.setKeys(keys);
        // box1.animations.push(animationBox);
        // scene.beginAnimation(box1, 20, 40, false);

        // box = BABYLON.MeshBuilder.CreateBox("box", {
        //     height: 2,
        //     width: 2,
        //     depth: 2
        // }, this.scene);

        // var innerGlass = BABYLON.Mesh.CreateSphere("innerTintedGlass", 5, 5.0, scene);
        // var outerGlass = BABYLON.Mesh.CreateSphere("outerGlass", 10, 10.0, scene);
        // outerGlass.position.y = 5;
        //
        // innerGlass.position.x = 2;
        // innerGlass.position.y = 2.5;
        // innerGlass.position.z = 1.5;
        //
        // box.position.z = 1;

        // // Create materials
        // var redglass = new BABYLON.PBRMaterial("redglass", scene);
        // redglass.alphaMode = BABYLON.Engine.ALPHA_MULTIPLY;
        // redglass.reflectionTexture = hdrTexture;
        // // redglass.refractionTexture = hdrTexture;
        // // redglass.linkRefractionWithTransparency = true;
        // // redglass.indexOfRefraction = 0.52;
        // redglass.alpha = 0;
        // redglass.directIntensity = 1.0;
        // redglass.environmentIntensity = 1.0;
        // redglass.microSurface = 0.0;
        // redglass.reflectivityColor = new BABYLON.Color3(0, 0, 0);
        // redglass.albedoColor = new BABYLON.Color3(1, 0.0, 0.0);
        // innerGlass.material = redglass;

        // glass = new BABYLON.PBRMaterial("glass", scene);
        // // glass.alphaMode = BABYLON.Engine.ALPHA_ADD;
        // //glass.reflectionTexture = hdrTexture;
        // // glass.refractionTexture = hdrTexture;
        // //glass.linkRefractionWithTransparency = true;
        // glass.indexOfRefraction = 0.52;
        // glass.alpha = 0.7;
        // glass.glossiness = 0.7
        // glass.directIntensity = 1.0;
        // glass.environmentIntensity = 1.0;
        // glass.microSurface = 1;
        // glass.useRadianceOverAlpha = true;
        // glass.useSpecularOverAlpha = true;
        // // glass.reflectivityColor = new BABYLON.Color3(0, 0, 0);
        // glass.albedoColor = new BABYLON.Color3(1, 1, 1);
        // outerGlass.material = glass;

        // var pbr = new BABYLON.PBRSpecularGlossinessMaterial("pbr", scene);
        // sphere.material = pbr;
        // pbr.diffuseColor = new BABYLON.Color3(1.0, 0.766, 0.336);
        // pbr.specularColor = new BABYLON.Color3(1.0, 0.766, 0.336);
        // pbr.glossiness = 0.9; // Let the texture controls the value
        // pbr.environmentTexture = BABYLON.CubeTexture.CreateFromPrefilteredData("/textures/environment.dds", scene);
        //pbr.specularGlossinessTexture = new BABYLON.Texture("/textures/sg.png", scene);


        // box.material = glass;

        // Create simple sphere
        // sphere = BABYLON.Mesh.CreateIcoSphere("sphere", {radius:2, flat:true, subdivisions: 10}, this.scene);

        // sphere.position.y = 2.5;
        // sphere.material = new BABYLON.StandardMaterial("sphere material",scene)
        // sphere.receiveShadows  = true;

        // Lights and camera
        // light = new BABYLON.DirectionalLight("light", new BABYLON.Vector3(0, -1, 0.5), scene);
        // light.position = new BABYLON.Vector3(20, 20, 20);

        // camera = new BABYLON.ArcRotateCamera("camera", -Math.PI / 2, Math.PI / 4, 3, new BABYLON.Vector3(0, 1, 0), scene);
        camera = new BABYLON.ArcRotateCamera("camera1", 0, 0, 60, new BABYLON.Vector3(0, 0, 0), scene);
        // This targets the camera to scene origin
        camera.setTarget(BABYLON.Vector3.Zero());
        camera.attachControl(canvas, true);
        scene.activeCamera.beta += 0.8;

        // 设置到合适位置
        camera.position = new BABYLON.Vector3(43, 20.5, -10);
        camera.radius = 68;
        camera.setTarget(new BABYLON.Vector3(-13.5, 11.5, 26));

        // Default Environment
        var environment = scene.createDefaultEnvironment({ 
            createGround: false,
            createSkybox: true,
            groundSize: 1000,
            skyboxSize: 1000,
            sizeAuto: false,
            enableGroundShadow: true,
            // groundTexture: false,
            //skyboxTexture: new BABYLON.CubeTexture("img/textures/skybox", scene),
            // environmentTexture: false,
        });
        environment.setMainColor(BABYLON.Color3.FromHexString("#74b9ff"))

        // Shadows
        // shadowGenerator = new BABYLON.ShadowGenerator(1024, light);
        // shadowGenerator.useBlurExponentialShadowMap = true;
        // shadowGenerator.blurKernel = 5;
        // shadowGenerator.addShadowCaster(sphere, true);

        // // Enable VR
        // var vrHelper = scene.createDefaultVRExperience({createDeviceOrientationCamera:false});
        // vrHelper.enableTeleportation({floorMeshes: [environment.ground]});

        // // Runs every frame to rotate the sphere
        // scene.onBeforeRenderObservable.add(()=>{
        //     sphere.rotation.y += 0.0001*scene.getEngine().getDeltaTime();
        //     sphere.rotation.x += 0.0001*scene.getEngine().getDeltaTime();
        // })

        createMaterials (json, sceneObjs, scene);
        createLights (json, sceneObjs, scene);
        createObjects(json, sceneObjs, scene);
        createShadows(json, sceneObjs, scene);

        scene.onKeyboardObservable.add((kbInfo) => {
            moveSelected(kbInfo);
        });

        return scene;
    };

    var colors = {
        seaFoam: BABYLON.Color3.FromHexString("#16a085"),    //BABYLON.Color3.FromHexString("#16a085"),
        green: BABYLON.Color3.FromHexString("#27ae60"),
        blue: BABYLON.Color3.FromHexString("#2980b9"),
        purple: BABYLON.Color3.FromHexString("#8e44ad"),
        navy: BABYLON.Color3.FromHexString("#2c3e50"),
        yellow: BABYLON.Color3.FromHexString("#f39c12"),
        orange: BABYLON.Color3.FromHexString("#d35400"),
        red: BABYLON.Color3.FromHexString("#c0392b"),
        white: BABYLON.Color3.FromHexString("#bdc3c7"),
        gray: BABYLON.Color3.FromHexString("#7f8c8d")
    }

    /******* End of the create scene function ******/

    var scene = createScene(); //Call the createScene function

    // Register a render loop to repeatedly render the scene
    engine.runRenderLoop(function () {
        scene.render();
    });

    // Watch for browser/canvas resize events
    window.addEventListener("resize", function () {
        engine.resize();
    });

    function getSelectedObj() {
        if(lastSelected) {
            return sceneObjs["objects"][lastSelected][0];
        }
    }

    function getSelectedPos() {
        if(lastSelected) {
            return sceneObjs["objects"][lastSelected][0].position;
        }
    }

    //绑定点击事件
    var lastSelected = null;
    function moveSelected(kbInfo) {
        if(lastSelected) {
            // 锁定摄像头
            scene._activeCamera.detachControl(canvas, true);
            // 移动物体
            if(kbInfo.event.code == "ArrowDown") {
                sceneObjs["objects"][lastSelected][0].position.x += 0.1;
            } else if(kbInfo.event.code == "ArrowUp") {
                sceneObjs["objects"][lastSelected][0].position.x -= 0.1;
            } else if(kbInfo.event.code == "ArrowLeft") {
                sceneObjs["objects"][lastSelected][0].position.z -= 0.1;
            } else if(kbInfo.event.code == "ArrowRight") {
                sceneObjs["objects"][lastSelected][0].position.z += 0.1;
            }
            setTimeout(function(){
                // 解锁摄像头
                scene._activeCamera.attachControl(canvas, true);
            }, 200);
        } else {
            // 解锁摄像头
            scene._activeCamera.attachControl(canvas, true);
        }
    }
    function resetMaterial(ls) {
        if(ls) {
            if(sceneObjs["objects"][ls][1].hasOwnProperty("style")) {
                sceneObjs["objects"][ls][0].material = sceneObjs["materials"][sceneObjs["objects"][ls][1]["style"]][0];
            } else {
                sceneObjs["objects"][ls][0].material = sceneObjs["materials"]["default"][0];
            }
        }
        lastSelected = null;
    }
    window.addEventListener("click", function () {
        // 尝试拾取对象
        var pickResult = scene.pick(scene.pointerX, scene.pointerY);
        // if the click hits the wall object, we change the impact picture position
        // 尝试恢复原材质
        resetMaterial(lastSelected);
        if (pickResult.hit && pickResult.pickedMesh) {
            var curName = pickResult.pickedMesh.name;
            // 是否可选
            var objs = Object.keys(sceneObjs["objects"]);
            if(objs.indexOf(curName) >= 0 && !sceneObjs["objects"][curName][1].disable) {
                // 换成旧材质
                lastSelected = pickResult.pickedMesh.name;
                pickResult.pickedMesh.material = sceneObjs["materials"]["hightLight"][0];
            }
        } else {
            lastSelected = null;
        }
    });
    

</script>
</body>

</html>