<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                建筑信息模型
                <small ng-bind="datas.todayStr"></small>
            </h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <section class="row" style="margin-top:10px;">
        <div class="col-xs-9" style="padding-right: 0px;">
<!--            <iframe id="bimFrame" src="http://120.52.22.142:8100/rongtong/1?toolbar=1&model=1"-->
<!--                    style="border:none; width: 100%; background: #2A3F54;"></iframe>-->
            <img src="https://image.cn.made-in-china.com/prod/000-mEpTHvRhYPcO.jpg" style="width: 100%;">
        </div>

        <style>
            .live { }
            .live .x_panel { border: none; }
            .live .x_title p { font-size: 12px; text-align: center; }
            .live .x_title h2.big { font-size: 40px; display: block; width: 100%; margin: 0px; }

            .media { border: 1px solid rgba(200,200,200,0.25); padding:0px; margin-bottom: 15px; }
            .media i { float: right; font-size: 12px; margin-right: 5px; margin-top:5px; }
            .media h2 { text-align: center; font-size: 32px; margin: 0px; }
            .media p { font-size: 16px; padding:5px 15px; background: #5542E3; margin-bottom: 0px; }
            .media p span { float: right; vertical-align: middle; }

            .live .x_content .sum { width: 100%; padding: 0px; margin: 0px; }
            .live .x_content .sum li { list-style: none; line-height: 2; clear:both; }
            .live .x_content .sum li i { float: right; color: yellow; font-style: normal; font-size: 14px; }
            .live .x_content .sum li hr { margin: 6px 0px; }
            .live .x_content .badge { background: none; vertical-align: middle; padding-left: 0px; }

            .live .list-group-item-heading { color:yellow; font-size: 16px; }
            .live .list-group-item-text .name { float:left; }
            .live .list-group-item-text .desc { color: rgba(255,255,255,0.75); margin:5px 0;}
            .live .list-group-item-text .time { float:right; }
        </style>

        <div class="col-xs-3 live">
            <section>
                <div class="x_panel">
                    <div class="x_title">
                        <h2 class="big text-center" ng-bind="time">
                             10:11:11
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h2>周边环境</h2>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="media">
                                    <i>&#8451</i>
                                    <h2>25</h2>
                                    <p>温度 <span class="glyphicon glyphicon-exclamation-sign"></span></p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="media">
                                    <i>%</i>
                                    <h2 ng-bind="datas.curCityWeather.humidity">25</h2>
                                    <p>湿度 <span class="glyphicon glyphicon-tint"></span></p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="media">
                                    <i>lx</i>
                                    <h2>2532</h2>
                                    <p>光照 <span class="glyphicon glyphicon-eye-open"></span></p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="media">
                                    <i>μg/m3</i>
                                    <h2>85</h2>
                                    <p>PM2.5 <span class="glyphicon glyphicon-filter"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="x_panel">
                    <div class="x_title" style="margin-bottom: 0px;">
                        <h2>
                            统计数据
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="sum" ng-click="goto('statistics_fee')">
                            <li>
                                <span class="badge"><span class="glyphicon glyphicon-flash"></span></span> 当日用电量 <i ng-bind="datas.result.summaryDatas[0].curMonth/15 | number: 2"></i>
                            </li>
                            <li>
                                <span class="badge"><span class="glyphicon glyphicon-flash"></span></span> 当月用电量 <i ng-bind="datas.result.summaryDatas[0].curYear | number: 2">11111</i>
                            </li>
                            <li>
                                <span class="badge"><span class="glyphicon glyphicon-flash"></span></span> 累计用电量 <i ng-bind="datas.result.summaryDatas[0].total | number: 2">11111</i>
                            </li>
                            <li><hr /></li>
                            <li>
                                <span class="badge"><span class="glyphicon glyphicon-tint"></span></span> 当日用水量 <i ng-bind="datas.result.summaryDatas[1].curMonth/15 | number: 2">12344</i>
                            </li>
                            <li>
                                <span class="badge"><span class="glyphicon glyphicon-tint"></span></span> 当月用水量 <i ng-bind="datas.result.summaryDatas[1].curYear | number: 2">11111</i>
                            </li>
                            <li>
                                <span class="badge"><span class="glyphicon glyphicon-tint"></span></span> 累计用水量 <i ng-bind="datas.result.summaryDatas[1].total | number: 2">11111</i>
                            </li>
                        </ul>
                    </div>
                </div>

            </section>
            <section>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            <span class="glyphicon glyphicon-fire" style="margin-right:10px; font-size: 12px; "></span> 报警信息
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <marquee height=120 scrollamount="2" direction="up" ng-click="goto('pipe_security')">
                            <ul class="sum" style="margin:0px; border:none;">
                                <li class="list-group-item" ng-repeat="v in datas.result.tableData.data">
                                    <h4 class="list-group-item-heading" ng-bind="v.type"></h4>
                                    <div class="list-group-item-text">
                                        <div class="name" ng-bind="v.itemName"></div>
                                        <div class="time" ng-bind="v.recordedAt"></div>
                                        <div class="clearfixed"></div>
                                        <div class="desc" ng-bind="v.note"></div>
                                    </div>
                                </li>
                            </ul>
                        </marquee>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>