
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                充值流水
            </h3>
        </div>
        <div class="title_right">
            <button class="btn pull-right" ng-click="goBack();">
                <i class="fa fa-back"></i>
                返回
            </button>
        </div>

    </div>
    <p class="clearfix"></p>

    <section class="content">
        <div class="x_content">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-success" ng-click="createItem();">
                                <i class="fa fa-plus"></i>
                                添加流水
                            </button>
                            <h4 class="pull-right">
                                <span ng-bind="datas.household.name"></span>(<span ng-bind="datas.household.alias"></span>) --
                                <span ng-bind="datas.item.name"></span>
                            </h4>
                            <div class="clearfix"></div>

                            <table class="table table-hover table-bordered" id="summaryTable">
                                <thead>
                                <tr>
                                    <th ng-repeat="(k,n) in datas.tableData.title" ng-bind="n"></th>
<!--                                    <th>操作</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="v in datas.tableData.data" ng-class="feeClass(v);">
                                    <td ng-repeat="(k,n) in datas.tableData.title"
                                        ng-bind="v[k]"></td>
<!--                                    <td>-->
<!--                                        <button class="btn btn-info btn-xs" ng-click="viewItem(v);">-->
<!--                                            <i class="fa fa-folder"></i> 查看-->
<!--                                        </button>-->
<!--                                        <button class="btn btn-primary btn-xs" ng-click="editItem(v);">-->
<!--                                            <i class="fa fa-pencil"></i> 编辑-->
<!--                                        </button>-->
<!--                                        <button class="btn btn-danger btn-xs" ng-click="removeItem(v, $index);">-->
<!--                                            <i class="fa fa-trash-o"></i> 删除-->
<!--                                        </button>-->
<!--                                    </td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="modal fade itemEdit in">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" ng-show="datas.curMethod=='edit'" ng-bind="datas.curItemCache.name"></h4>
                        <h4 class="modal-title" ng-show="datas.curMethod=='create'">添加流水</h4>
                    </div>
                    <div class="modal-body">
                        <form id="curItem" class="form-horizontal form-label-left">
                            <div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">设备ID:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               readonly
                                               id="id" ng-model="datas.curItem.itemId" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">操作类型:</label>
                                    <div class="col-xs-8">
                                        <select class="form-control" id="event">
                                            <option value="recharge">增加</option>
                                            <option value="withdraw">减少</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">金额:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="fee" ng-model="datas.curItem.fee" />
                                    </div>
                                </div>
                                <div class="item form-group" style="display:none;">
                                    <label class="control-label col-xs-4">操作源:</label>
                                    <div class="col-xs-8">
                                        <select class="form-control" id="source">
                                            <option value="plantform" selected>直接充值</option>
<!--                                            <option value="weixin">微信充值</option>-->
<!--                                            <option value="zhifubao">支付宝充值</option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group" style="display:none;">
                                    <label class="control-label col-xs-4">订单ID:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="orderId" ng-model="datas.curItem.orderId" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">备注:</label>
                                    <div class="col-xs-8">
                                        <textarea class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="notes" ng-model="datas.curItem.notes" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button ng-show="datas.curMethod=='create'" type="button" class="btn btn-primary" ng-click="saveItem();">保存</button>
<!--                        <button ng-show="datas.curMethod=='edit'" type="button" class="btn btn-primary" ng-click="updateItem();">更新</button>-->
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>