<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                节能改造
            </h3>
        </div>
    </div>
    <p class="clearfix"></p>

    <section class="content">

        <div class="x_content">

            <div class="x_panel">
                <div class="x_title">
                    <div class="pull-left">
                        <button class="btn btn-success" ng-click="createItem();">
                            <i class="fa fa-plus"></i>
                            增加数据
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-hover" id="summaryTable">
                                <thead>
                                <tr>
                                    <th ng-repeat="(k,n) in datas.result.tableData.title" ng-bind="n"></th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="v in datas.result.tableData.data">
                                    <td ng-repeat="(k,n) in datas.result.tableData.title"
                                        ng-bind="v[k]"></td>
                                    <td>
                                        <button class="btn btn-success btn-xs" ng-click="updateItem($index, v, 1);">修改</button>
                                        <button class="btn btn-default btn-xs" ng-click="updateItem($index, v, 2);">删除</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
