
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                电/水表管理
            </h3>
        </div>
    </div>
    <p class="clearfix"></p>

    <section class="content">
        <div class="x_content">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-hover table-bordered" id="summaryTable">
                                <thead>
                                <tr>
                                    <th ng-repeat="(k,n) in datas.tableData.title" ng-bind="n"></th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="v in datas.tableData.data | filter:nameFilt">
                                    <td ng-repeat="(k,n) in datas.tableData.title">
                                        <span ng-bind="v[k]" ng-if="k!='1'"></span>
                                        <img ng-src="{{v[k]}}" ng-if="k=='1'" width="100">
                                    </td>
                                    <td>
                                        <button class="btn btn-info btn-xs" ng-click="viewItem(v);">
                                            <i class="fa fa-folder"></i> 查看
                                        </button>
                                        <button class="btn btn-primary btn-xs" ng-click="editItem(v);">
                                            <i class="fa fa-pencil"></i> 编辑
                                        </button>
                                        <button class="btn btn-danger btn-xs" ng-click="cashFlow(v, $index);">
                                            <i class="fa fa-trash-o"></i> 充值记录
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="modal fade itemEdit in">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" ng-show="datas.curMethod=='edit'" ng-bind="datas.curItemCache.name"></h4>
                        <h4 class="modal-title" ng-show="datas.curMethod=='create'">创建商户</h4>
                    </div>
                    <div class="modal-body">
                        <form id="curItem" class="form-horizontal form-label-left">
                            <div>
                                <div class="item form-group" ng-show="datas.curMethod=='view' || datas.curMethod=='edit'">
                                    <label class="control-label col-xs-4">ID:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="id" ng-model="datas.curItem.id" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">建筑ID:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="buildingId" ng-model="datas.curItem.buildingId" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">商户名称:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="name" ng-model="datas.curItem.name" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">商户别名:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="alias" ng-model="datas.curItem.alias" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">电表ID:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="itemIds" ng-model="datas.curItem.itemIds" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">照片地址:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="photo" ng-model="datas.curItem.photo" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">备注信息:</label>
                                    <div class="col-xs-8">
                                        <textarea class="form-control col-xs-12"
                                                  ng-readonly="datas.curMethodReadOnly"
                                                  id="notes" ng-model="datas.curItem.notes" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button ng-show="datas.curMethod=='create'" type="button" class="btn btn-primary" ng-click="saveItem();">保存</button>
                        <button ng-show="datas.curMethod=='edit'" type="button" class="btn btn-primary" ng-click="updateItem();">更新</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>