<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                总用电概述
                <small ng-bind="datas.todayStr"></small>
            </h3>
        </div>
    </div>
    <p class="clearfix"></p>

    <section class="content">
        <div class="x_content">
            <ul class="nav nav-tabs bar_tabs">
                <li class="active"><a href="#/monitor_electricity">总用电概述</a></li>
                <li><a href="#/monitor_electricity_by_subentry">按能耗分项监测</a></li>
                <li><a href="#/monitor_electricity_by_area">按建筑区域监测</a></li>
                <li><a href="#/monitor_electricity_by_org">按组织机构监测</a></li>
                <li><a href="#/monitor_electricity_by_custom">按自定义分类监测</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in">

                    <div class="row">
                        <div class="row">
                            <div class="animated flipInY col-xs-3" ng-repeat="i in datas.result.summaryDatas">
                                <div class="tile-stats">
                                    <div class="icon"><i class="fa fa-bar-chart"></i></div>
                                    <div class="count" ng-bind="i.name"></div>
                                    <h3><span ng-bind="i.total | number:2"></span> <span ng-bind="i.unit"></span></h3>
                                    <hr />
                                    <p>
                                        <span class="progress-description pull-left">
                                          上月: <span ng-bind="i.lastMonth | number:2"></span>
                                        </span>
                                        <span class="progress-description pull-right">
                                          去年: <span ng-bind="i.lastYear | number:2"></span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                按时间区间概况
                            </h2>
                            <div class="pull-right form-inline">
                                查询条件:
                                <input type="text" class="form-control mr10" id="reservation">
                                <select class="form-control mr10" ng-model="datas.query.type">
                                    <option ng-repeat="t in datas.opts.types"
                                            ng-value="t.val"
                                            ng-bind="t.name"
                                            ng-selected="t.val == datas.query.type"></option>
                                </select>

                                <select class="form-control mr10">
                                    <option>按日</option>
                                    <option>按月</option>
                                    <option>按年</option>
                                </select>
                                同比数据:
                                <select class="form-control _compareTos" ng-model="datas.query.compareTo">
                                    <option ng-repeat="t in datas.opts.compareTos"
                                            ng-value="t.val"
                                            ng-bind="t.name"
                                            ng-selected="t.val == datas.query.compareTo"></option>
                                </select>

                                <select class="form-control _compareTos mr10">
                                    <option>2018</option>
                                </select>
                                <button ng-click="refresh_datas();" class="btn btn-primary"><spam class="glyphicon glyphicon-refresh"></spam> 更新</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="chart">
                                        <div id="summaryChart" style="height:400px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                详细数据
                            </h2>
                            <div class="pull-right form-inline">
                                <button ng-click="exportData();" class="btn btn-primary"><spam class="fa fa-download"></spam> 导出报表</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-hover" id="summaryTable">
                                        <thead>
                                        <tr>
                                            <th ng-repeat="(k,n) in datas.result.dailyList.title" ng-bind="n"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="v in datas.result.dailyList.data">
                                            <td ng-repeat="(k,n) in datas.result.dailyList.title"
                                                ng-bind="v[k]"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </section>

</div>