<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                用<i ng-bind="datas.typeNames[datas.type]"></i>计划
                <small ng-bind="datas.todayStr"></small>
            </h3>
        </div>
    </div>
    <p class="clearfix"></p>

    <section class="content">
        <div class="x_panel">
            <div class="x_title">
                <button class="btn btn-success" ng-click="createItem();">
                    <i class="fa fa-plus"></i>
                    创建计划
                </button>
            </div>
            <div class="x_content">
                <table class="table table-hover" id="summaryTable">
                    <thead>
                    <tr>
                        <th ng-repeat="(k,n) in datas.result.tableData.title" ng-bind="n"></th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="v in datas.result.tableData.data">
                        <td ng-repeat="(k,n) in datas.result.tableData.title"
                            ng-bind="v[k]"></td>
                        <td>
                            <button class="btn btn-success btn-xs" ng-click="updateItem($index, v, 1);">修改</button>
                            <button class="btn btn-default btn-xs" ng-click="updateItem($index, v, 2);">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="x_panel">
            <div class="x_title">
                <h2>
                    数据对照
                </h2>
                <div class="pull-right form-inline">
                    <label class="">国标值:</label>
                    <span class="form-control without_border mr10" ng-bind="datas.internationalValues[datas.type]"></span>

                    查询条件:
                    <!--<input type="text" class="form-control mr10" id="reservation">-->
                    <input type="text" class="form-control datePicker" ng-model="datas.fromDate">
                    ~
                    <input type="text" class="form-control mr10 datePicker" ng-model="datas.toDate">

                    <button ng-click="refreshDatas();" class="btn btn-primary"><spam class="glyphicon glyphicon-refresh"></spam> 更新</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="summaryChart" style="height:400px;"></div>
            </div>
        </div>
    </section>
</div>
