<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                管道安全设置
                <small ng-bind="datas.todayStr"></small>
            </h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="datas.query.name" placeholder="搜索建筑名">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="filterBuildings();">
                            <i class="fa fa-search-minus"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-xs-12">
            <h1></h1>
        </div>
    </div>

</div>