<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                所有报警 &nbsp;
                <small ng-bind="datas.todayStr"></small>
            </h3>
        </div>
    </div>
    <p class="clearfix"></p>

    <div class="row">
        <div class="animated flipInY col-xs-3" ng-repeat="i in datas.result.summaryDatas">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                <div class="count" ng-bind="i.name"></div>
                <h3>
                    <span ng-bind="'未处理: '+i.unFixed"></span>
                    <!--<i class="pull-right linked fa fa-chevron-right"></i>-->
                </h3>
                <hr />
                <div style="clear:both; margin: 0 10px;">
                    <span class="progress-description pull-left">
                      本月: <span ng-bind="i.month"></span>
                    </span>
                    <span class="progress-description pull-right">
                      总共: <span ng-bind="i.total"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="x_content">

        <ul class="nav nav-tabs bar_tabs">
            <li class="active"><a href="javascript:;" data-toggle="tab1">电(0)</a></li>
            <li><a href="javascript:;" data-toggle="tab2">水(0)</a></li>
            <li><a href="javascript:;" data-toggle="tab3">天然气(0)</a></li>
            <li><a href="javascript:;" data-toggle="tab4">蒸汽(0)</a></li>
            <li><a href="javascript:;" data-toggle="tab5">室内环境(0)</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <table class="table table-hover" id="summaryTable">
                                    <thead>
                                    <tr>
                                        <th ng-repeat="(k,n) in datas.result.tableData.title" ng-bind="n"></th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="v in datas.result.tableData.data">
                                        <td ng-repeat="(k,n) in datas.result.tableData.title"
                                            ng-bind="v[k]"></td>
                                        <td>
                                            <button class="btn btn-success btn-xs" ng-click="updateItem($index, v, 1);">处理</button>
                                            <button class="btn btn-default btn-xs" ng-click="updateItem($index, v, 2);">忽略</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>