<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                建筑信息模型
                <small ng-bind="datas.todayStr"></small>
            </h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row" style="margin-top:10px;">
        <div class="col-xs-9">
            <iframe id="bimFrame" src="http://120.52.22.142:8100/rongtong/1?toolbar=1&model=1"
                    style="border:none; width: 100%;"></iframe>
        </div>
        <div class="col-xs-3 live">

            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <span ng-bind="datas.curCityWeather.city"></span>天气
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h1 class="weather" ng-class="datas.curCityWeather.class" ng-bind="datas.curCityWeather.temperature+'℃'"></h1>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-xs-12">
                                    <div>
                                            <span class="pull-left">
                                                <!--风力: <i ng-bind="datas.curCityWeather.windPower"></i> &nbsp; &nbsp;-->
                                                风向: <i ng-bind="datas.curCityWeather.windDirection"></i>
                                            </span>
                                        <span class="pull-right">
                                                空气湿度: <i ng-bind="datas.curCityWeather.humidity"></i>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p></p>

            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        累计费用
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" ng-click="goto('statistics_fee')">
                        <div class="col-xs-12">
                            <h1 ng-bind="datas.result.summaryTotalData.total|number:2">--</h1>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12">
                                <span class="pull-left">
                                    平均费用密度: <i ng-bind="datas.result.summaryTotalData.avgFee|number:2"></i>
                                </span>
                        </div>
                    </div>
                </div>
            </div>

            <p></p>

            <div class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading">管网安全报警</h4>
                </a>
                <a ng-click="goto('pipe_security')" class="list-group-item" ng-repeat="v in datas.result.tableData.data">
                    <h4 class="list-group-item-heading" ng-bind="v.type"></h4>
                    <div class="list-group-item-text">
                        <div ng-bind="v.itemName"></div>
                        <div ng-bind="v.note"></div>
                        <div ng-bind="v.recordedAt"></div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>