<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                用<i ng-bind="datas.typeNames[datas.type]"></i>计划
                <small ng-bind="datas.todayStr"></small>
            </h3>
        </div>
    </div>
    <p class="clearfix"></p>

    <section class="content">
        <div class="x_panel">
            <div class="x_title">
                <button class="btn btn-success" ng-click="createItem();">
                    <i class="fa fa-plus"></i>
                    创建计划
                </button>
            </div>
            <div class="x_content">
                <table class="table table-hover" id="summaryTable">
                    <thead>
                    <tr>
                        <th ng-repeat="(k,n) in datas.tableData.title" ng-bind="n"></th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="v in datas.tableData.data">
                        <td ng-repeat="(k,n) in datas.tableData.title"
                            ng-bind="v[k]"></td>
                        <td>
                            <button class="btn btn-info btn-xs" ng-click="viewItem(v);">
                                <i class="fa fa-folder"></i> 查看
                            </button>
                            <button class="btn btn-info btn-xs" ng-click="editItem(v);">
                                <i class="fa fa-pencil"></i> 编辑
                            </button>
                            <button class="btn btn-danger btn-xs" ng-click="removeItem(v, $index);">
                                <i class="fa fa-trash-o"></i> 删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="x_panel">
            <div class="x_title">
                <h2>
                    数据对照
                </h2>
                <div class="pull-right form-inline">
                    <label class="">国标值:</label>
                    <span class="form-control without_border mr10" ng-bind="datas.internationalValues[datas.type]"></span>

                    查询条件:
                    <!--<input type="text" class="form-control mr10" id="reservation">-->
                    <input type="text" class="form-control datePicker" ng-model="datas.fromDate">
                    ~
                    <input type="text" class="form-control mr10 datePicker" ng-model="datas.toDate">

                    <button ng-click="refreshDatas();" class="btn btn-primary"><spam class="glyphicon glyphicon-refresh"></spam> 更新</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="summaryChart" style="height:400px;"></div>
            </div>
        </div>



        <div class="modal fade itemEdit in">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" ng-show="datas.curMethod=='edit'" ng-bind="datas.curItemCache.id"></h4>
                        <h4 class="modal-title" ng-show="datas.curMethod=='create'">创建计划</h4>
                    </div>
                    <div class="modal-body">
                        <form id="curItem" class="form-horizontal form-label-left">
                            <div>
                                <div class="item form-group" ng-hide="true">
                                    <label class="control-label col-xs-4">ID:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="id" name="id" ng-model="datas.curItem.id" />
                                    </div>
                                </div>
                                <div class="item form-group" ng-hide="true">
                                    <label class="control-label col-xs-4">建筑ID:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="buildingId" name="buildingId" ng-model="datas.curItem.buildingId" />
                                    </div>
                                </div>
                                <div class="item form-group" ng-hide="true">
                                    <label class="control-label col-xs-4">类型:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="type" name="type" ng-model="datas.curItem.type" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">计划类型:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="planType" name="planType" ng-model="datas.curItem.planType" />
                                        <small>工作日/节假日/普通</small>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">日期:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="planDate" name="planDate" ng-model="datas.curItem.planDate" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">计划用量:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="planVal" name="planVal" ng-model="datas.curItem.planVal"
                                               ng-change="changeAvgVal();" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">计划平均值: </label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="true"
                                               id="planValAvg" name="planValAvg" ng-model="datas.curItem.planValAvg" />
                                        <small>(计划量除以建筑面积)</small>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">计算方式:</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control col-xs-12"
                                               ng-readonly="datas.curMethodReadOnly"
                                               id="planMethod" name="area" ng-model="datas.curItem.planMethod" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-xs-4">备注:</label>
                                    <div class="col-xs-8">
                                        <textarea class="form-control col-xs-12"
                                                  ng-readonly="datas.curMethodReadOnly"
                                                  id="note" name="note" ng-model="datas.curItem.note"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button ng-show="datas.curMethod=='create'" type="button" class="btn btn-primary" ng-click="saveItem();">保存</button>
                        <button ng-show="datas.curMethod=='edit'" type="button" class="btn btn-primary" ng-click="updateItem();">更新</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
