<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>
        能耗管理系统
    </title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/error.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="info">
                    <h1>哎呀!</h1>
                    <h2>服务器爆炸了!</h2>
                    <p>您正在寻找的页面出现严重问题, 请及时联系管理员.</p>
                    <a href="/" class="btn btn-default">返回首页</a>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="guardian">
                    <img src="./images/404_guardian.gif" alt="Fighting">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
