*{
    font-family: "Century Gothic","Microsoft yahei";
    font-weight: 300;
}
html{
    height: 100%;
}
body{
    position: relative;
    height: 100%;
    background-color: #373740;
}

h1, h2, h3, h4, h5, h6{
    color: #ffffff;
}

p{
    font-weight: 300;
}

img{
    background-size: auto;
}
.info{
    position: relative;
    z-index: 999;
}
.info h1{
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    color: #f4ffa5;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.info h2{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: #ffffff;
    text-transform: uppercase;
}
.info p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    color: #ffffff;
    margin: 15px 0;
}
.btn{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    border: 0px solid;
    border-bottom: 2px solid;
    border-color: #b1533e;
    padding: 10px 41px;
    border-radius: 5px;
    background: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 5px 20px 0 0;
    background-color: #e56e54;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover{
    background: #b1533e;
    color: #ffffff;
    text-decoration: none;
}
.container { width: 800px; padding-top: 180px; }
.guardian img { width: 100%; }
