<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${appName}"></title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/nprogress.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <style>

    </style>
</head>
<body class="live" ng-app="app" ng-controller="live">
<div>
    <header>
        <a class="site_title" ng-click="gotoHome();">
            <i class="fa fa-bar-chart-o"></i>
            <span th:text="${appName}"></span>
        </a>

        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img ng-src="images/img.jpg" ng-alt="datas.user.name" src="images/img.jpg">
                    <span ng-bind="datas.user.name" class="ng-binding">sam</span>
                    <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li>
                        <a ng-click="gotoProfile();">
                            个人中心
                        </a>
                    </li>
                    <li>
                        <a ng-click="gotoHelp();">
                            帮助中心
                        </a>
                    </li>
                    <li>
                        <a ng-click="doLogout();">
                            <i class="fa fa-sign-out pull-right">
                            </i>
                            退出登录
                        </a>
                    </li>
                </ul>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
                   aria-expanded="false">
                    <h1 class="nav-title">
                        <span ng-bind="datas.curBuilding.name"></span>
                        <i class="fa fa-chevron-down"></i>
                    </h1>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-left">
                    <li ng-repeat="b in datas.buildingList">
                        <a href="javascript:;" ng-bind="b.name" ng-click="changeBuilding(b);"></a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="clearfix"></div>
    </header>

    <section>
        <div class="row">
            <div class="col-xs-3 block">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            <span ng-bind="datas.curCityWeather.city"></span>天气
                        </h2>
                        <div class="pull-right title_right" ng-bind="datas.curCityWeather.reportTime">

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h1 class="weather" ng-class="datas.curCityWeather.class" ng-bind="datas.curCityWeather.temperature+'℃'"></h1>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div>
                                            <span class="pull-left">
                                                风力: <i ng-bind="datas.curCityWeather.windPower"></i> &nbsp; &nbsp;
                                                风向: <i ng-bind="datas.curCityWeather.windDirection"></i>
                                            </span>
                                            <span class="pull-right">
                                                空气湿度: <i ng-bind="datas.curCityWeather.humidity"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 block">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            当月费用
                        </h2>
                        <div class="pull-right title_right">
                            <i class="glyphicon glyphicon-usd"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>12345.00</h1>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="pull-left">
                                    上个月: <i ng-bind="datas.curCityWeather.windPower"></i>
                                </span>
                                <span class="pull-right">
                                    环比: <i ng-bind="datas.curCityWeather.humidity"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 block">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                             当年费用
                        </h2>
                        <div class="pull-right title_right">
                            <i class="glyphicon glyphicon-usd"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>12345.00</h1>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="pull-left">
                                    去月: <i ng-bind="datas.curCityWeather.windPower"></i>
                                </span>
                                <span class="pull-right">
                                    环比: <i ng-bind="datas.curCityWeather.humidity"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 block">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            累计费用
                        </h2>
                        <div class="pull-right title_right">
                            <i class="glyphicon glyphicon-usd"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>12345.00</h1>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="pull-left">
                                    平均费用密度: <i ng-bind="datas.curCityWeather.humidity"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-xs-3">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            实时用能
                        </h2>
                        <div class="pull-right title_right">
                            <i class="glyphicon glyphicon-usd"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="summaryChart" style="height:200px;"></div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="pull-left">
                                    上个月: <i ng-bind="datas.curCityWeather.windPower"></i>
                                </span>
                                <span class="pull-right">
                                    环比: <i ng-bind="datas.curCityWeather.humidity"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </section>

    <footer>
        <div class="pull-right" th:text="${appName+' '+appVersion}"></div>
        <div class="clearfix"></div>
    </footer>

</div>
<!--地图api-->
<script src="https://webapi.amap.com/maps?v=1.4.10&key=9ab87268e7b0963b097a9c6c7ddd06d9"></script>
<!-- jQuery 3 -->
<script src="./js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="./js/bootstrap.min.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/angular_ui_router.min.js"></script>
<script src="./js/moment-with-locales.min.js"></script>
<script src="./js/fake_datas.js?v4"></script>
<!-- <script src="./js/sweetalert.min.js?v4"></script> -->
<script src="./js/comm.js?v4"></script>

<script src="./pages/live.js?v4"></script>
</body>
</html>
