<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                总用电概述
                <small ng-bind="datas.todayStr"></small>
            </h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right text-right">
                当前建筑名称
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
    </div>
    <p class="clearfix"></p>

    <section class="content">
        <div class="x_content">
            <ul class="nav nav-tabs bar_tabs">
                <li>
                    <a href="#/monitor_electricity" data-toggle="tab">总用电概述</a>
                </li>
                <li ng-class="datas.group=='01000' ? 'active' : ''">
                    <a href="#/monitor_electricity_by_subentry">按能耗分项监测</a>
                </li>
                <li ng-class="datas.group=='21000' ? 'active' : ''">
                    <a href="#/monitor_electricity_by_area">按建筑区域监测</a>
                </li>
                <li ng-class="datas.group=='11000' ? 'active' : ''">
                    <a href="#/monitor_electricity_by_org">按组织机构监测</a>
                </li>
                <li ng-class="datas.group=='31000' ? 'active' : ''">
                    <a href="#/monitor_electricity_by_custom">按自定义分类监测</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in">

                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="nav nav-tabs nav-cus">
                                        <li ng-class="!datas.groupCode ? 'active' : ''"><a href="#/monitor_electricity_by_subentry">所有分项</a></li>
                                        <li ng-class="datas.groupCode=='01A00' ? 'active' : ''"><a href="#/monitor_electricity_by_subentry/01A00">照明与插座</a></li>
                                        <li ng-class="datas.groupCode=='01B00' ? 'active' : ''"><a href="#/monitor_electricity_by_subentry/01B00">空调用电</a></li>
                                        <li ng-class="datas.groupCode=='01C00' ? 'active' : ''"><a href="#/monitor_electricity_by_subentry/01C00">动力用电</a></li>
                                        <li ng-class="datas.groupCode=='01D00' ? 'active' : ''"><a href="#/monitor_electricity_by_subentry/01D00">特殊用电</a></li>
                                        <div class="pull-right form-inline">
                                            <input type="text" class="form-control mr10" id="reservation">
                                            <button ng-click="refresh_datas();" class="btn btn-primary"><spam class="glyphicon glyphicon-refresh"></spam> 更新</button>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <p class="clearfix"></p>

                            <div class="row">
                                <div class="x_content">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>
                                                所有分项
                                            </h2>
                                            <div class="pull-right form-inline">
                                                <div class="form-group">
                                                    <label class="">国标值:</label>
                                                    <span class="form-control without_border" ng-bind="datas.summaryData.internationalValue"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="">数据单位:</label>
                                                    <select class="form-control" ng-model="datas.selectSummaryChartType" ng-change="chSummaryChartInput()">
                                                        <option ng-repeat="(o,n) in datas.summaryChartTypes"
                                                                ng-value="o"
                                                                ng-bind="n"
                                                                ng-selected="datas.selectSummaryChartType==o"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div id="summaryPieChart" style="height:400px;"></div>
                                                </div>
                                                <div class="col-xs-8">
                                                    <div id="dailyChart" style="height:400px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>
                                                详细数据
                                            </h2>
                                            <div class="pull-right form-inline">
                                                <button ng-click="exportData();" class="btn btn-primary"><spam class="fa fa-download"></spam> 导出报表</button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <table class="table table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th ng-repeat="t in datas.summaryTableTitles" ng-bind="t"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="(k,v) in datas.summaryTableDatas">
                                                            <td ng-repeat="t in datas.summaryTableTitles"
                                                                ng-bind="v[$index]"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </section>


</div>