<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${appName}"></title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/nprogress.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>
<body class="login" ng-app="app" ng-controller="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form>
                    <h1>用户登录</h1>
                    <div>
                        <input type="text" class="form-control" ng-model="datas.username" placeholder="用户名" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" ng-model="datas.password" placeholder="密码" required="" />
                    </div>
                    <div>
                        <button class="btn btn-success btn-lg" ng-click="doLogin();">登录</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </section>
        </div>
    </div>
</div>

<!-- jQuery 3 -->
<script src="./js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="./js/bootstrap.min.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/angular_ui_router.min.js"></script>
<script src="./js/fake_datas.js?v4"></script>
<!-- <script src="./js/sweetalert.min.js?v4"></script> -->
<script src="./js/comm.js?v4"></script>

<script src="./pages/login.js?v4"></script>
</body>
</html>
